body{
    background-color: rgb(191, 175, 136);
    padding-left: 36%;
    padding-top: 85px;
}
.base{
    background-color: rgb(139, 126, 92);
    width: 400px;
    height: 420px;
    padding-left: 50px;
    border-radius: 13px;

}
.txt{
    padding-top: 20px;
}
.campo{
margin-left: 80px;
}
h2{
    padding-left: 85px;
}
.botao{
    margin-left: 130px;
    height: 50px;
    width: 75px;
    border-radius: 8px;
    background-color: rgb(0, 129, 250);
    color: white;
}