<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/cadastro_peca.css"> 
    <link rel="shortcut icon" type="image/x-icon" href="/static/imagens/icone.png"> 
    <title>Cadastro Estoque</title>
</head>
<body>

    <a href="pagi" class="btn-home-fora">
        <img src="/static/imagens/home.png" alt="Home">
    </a>

     <div class="base">
        <div class="area-voltar">
            <a href="listar_estoque" class="link-voltar">
                <img src="/static/imagens/voltar.png" alt="Voltar">
            </a>
        </div>

        <div class="tudo">
            <h1>Cadastro de Peças</h1>

            <form action="/cadastro_peca" method="POST"> 
                <h2>Dados da peça</h2>
                
                <input type="text" name="nome_peca" class="campo" placeholder="Nome:" required> 

                <input type="text" name="lote" class="campo" placeholder="Lote:" required>

                <input type="date" name="validade" class="campo" placeholder="Validade: EX:aaaa-mm-dd" required>

                <input type="text" name="fornecedor" class="campo" placeholder="Fornecedor:" required>

                <input type="text" name="quant_peca" class="campo" placeholder="Quantidade:" required>

                <input type="text" name="min" class="campo" placeholder="Estoque Mínimo:" required>
                
                <input type="text" name="max" class="campo" placeholder="Estoque Máximo:" required>

                <button type="submit" class="botao">Cadastrar</button>
            </form>
        </div>
    </div>

</body>
</html>