<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/listarestoque.css"> 
    <link rel="shortcut icon" type="image/x-icon" href="\static\imagens\icone.png"> 
    <title>Cadastro Estoque</title>
</head>
<body>

    <div class="base">
        <h1>Cadastro de Peças:</h1>

        <form action="/cadastro_peca" method="POST"> 
            
            <h2>Dados da peça(mecanica)</h2>
            <input type="text" id="nome" name="nome_peca" placeholder="Nome:" required> 

            <input type="text" id="cpf" name="lote" placeholder="Lote" required>

            <input type="text" id="celular" name="validade" placeholder="validade" required>

            <input type="text" id="placa" name="fornecedor" placeholder="Fornecedor" required>

            <input type="text" id="modelo" name="quant_peca" placeholder="Quantidade" required>



            <button type="submit">Cadastrar</button>
        </form>
    </div>




</body>
</html>