<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="cadastro.css">            <!--CONECTA COM O CSS PARA EMBELEZAR A WEB-->
    <title>Cadastro De Usuário</title>

</head>


<body>

    <div class="base">

        <h1 class="txt">Digite suas informações:</h1>

        <form action="/cadastro" method="POST">


            <h2>Digite seu nome</h2>
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome_usuario" class="campo" required>


            <h2>Digite seu e-mail</h2>
            <label for="email">Email:</label>
            <input type="text" id="email" name="email_usuario" class="campo" required>


            <h2>Digite sua senha</h2>
            <label for="senha">Senha:</label>
            <input type="text" id="senha" name="senha_usuario" class="campo" required><br><br>

            <button type="submit" class="botao" >Enviar</button>
               
        </form>
    </div>





</body>

</html>