<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>documento_para_nomezis</title>
</head>
<body>
    <h1>Digite suas informações:</h1>
    <h2>Digite seu nome</h2>
    <form action="/" method="POST">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome_usuario" required>
    <h2>Digite seu e-mail</h2>
        <label for="email">e-mail: </label>
        <input type="text" id="email" name="email_usuario" required>
    <h2>Digite sua senha</h2>
        <label for="senha">senha: </label>
        <input type="text" id="senha" name="senha_usuario" required>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>