<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login do usuario</title>
    <link rel="stylesheet" href="login.css">            <!--CONECTA COM O CSS PARA EMBELEZAR A WEB-->


</head>

<body>

    <div class="base">

        <h1 class="txt">LOGIN:</h1>

        <form action="/" method="POST">

            <h2>Digite seu e-mail</h2>
            <input type="text" id="email" name="email_usuario" class="campo" required>


            <h2>Digite sua senha</h2>
            <input type="text" id="senha" name="senha_usuario" class="campo" required><br><br>

            <button type="submit" class="botao" >Enviar</button>
               
        </form>
    </div>



</body>

</html>