<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login do usuario</title>
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="stylesheet" href="login.css">
    <link rel="shortcut icon" type="image/x-icon" href="\static\imagens\icone.png"> 
            

</head>

<body>

    <div class="base">

        <h1 class="txt">LOGIN</h1>
        {% if erro %}
            <p style="color: red; text-align: center;">{{ erro }}</p>
        {% endif %}

        <form action="/login" method="POST">

            <h2 class="us">Digite seu Usuário</h2>
            <input type="text" id="login_user" name="usuario" class="campo" required placeholder="Usuario">


            <h2 class="se">Digite sua Senha</h2>
            <input type="password" id="senha_user" name="senha" class="campo" required placeholder="Senha"><br><br>

            <button type="submit" class="botao" >Enviar</button>
               
        </form>
    </div>



</body>

</html>