<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/pagi.css">            <!--CONECTA COM O CSS PARA EMBELEZAR A WEB-->
    <link rel="stylesheet" href="pagi.css">            <!--CONECTA COM O CSS PARA EMBELEZAR A WEB (TESTES)-->
    <link rel="shortcut icon" type="image/x-icon" href="\static\imagens\icone.png">  <!--CONECTA O ICONE-->

    <title>Pagina inicial</title>

</head>


<body>
    <a href="login"><button class=".logout"><img src="\appSA\static\imagens\voltar.png" class="home"></button>       </a>

    <div class="base">
        <a href="cadastro_cliente">    <button>Cadastrar Cliente</button>     </a>
        <a href="listar_clientes">       <button>Clientes</button>     </a>
        <a href="cadastro_peca">       <button>Cadastro Peça</button>     </a>
        <a href="listar_estoque">       <button>Estoque</button>     </a>
        <a href="cadastro_func">       <button>Cadastro Funcionario</button>     </a>
        
    

    </div>




</body>

</html>