<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/pagi.css">            <!--CONECTA COM O CSS PARA EMBELEZAR A WEB-->
    <link rel="stylesheet" href="pagi.css">            <!--CONECTA COM O CSS PARA EMBELEZAR A WEB (TESTES)-->
    <link rel="shortcut icon" type="image/x-icon" href="\static\imagens\icone.png">  <!--CONECTA O ICONE-->

    <title>Pagina inicial</title>

</head>


<body>
    <a href="/logout"><button class="logout"><img src="\static\imagens\logout.png" class="home"></button>       </a>

    <div class="base">
        <a href="cadastro_cliente">    <button class="C_CL">Cadastrar Cliente</button>        </a>
        <a href="listar_clientes">     <button class="L_CL">Clientes</button>                 </a> <!--DEF cargos LIMIT 5-->
        <a href="cadastro_peca">       <button class="C_PE">Cadastro Peça</button>            </a>
        <a href="listar_estoque">      <button class="L_ES">Estoque</button>                  </a>
        <a href="cadastro_func">       <button class="C_FU">Cadastro Funcionario</button>     </a> <!--DEF cargos-->
        <a href="pagi">                <button class="L_FU">Lista de Funcionarios</button>    </a> <!--DEF cargos-->
        
    </div>
        <a href="pagi">                <button class="R_SE"><h3>Registro Serviços</h3></button>        </a>





</body>

</html>