<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/pagi.css">            <!--CONECTA COM O CSS PARA EMBELEZAR A WEB-->
    <link rel="shortcut icon" type="image/x-icon" href="\static\icone.png"> 
    <title>Pagina inicial</title>

</head>


<body>
<!--TODAS AS PAGINAS-->
    <div class="base">
        <a href="cadastro_cliente">    <button>Cliente</button>     </a>
        <a href="listarestoque">       <button>Estoque</button>     </a>


    </div>
    
    <a href="login">               <button>Sair</button>       </a>




</body>

</html>