<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acesso ao Sistema</title>
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="shortcut icon" type="image/x-icon" href="/static/imagens/icone.png"> 
</head>

<body>

    <div class="base">

        <h1 class="txt">LOGIN</h1>
        
        {% if erro %}
            <div class="msg-erro">{{ erro }}</div>
        {% endif %}

        <form action="/login" method="POST">

            <div>
                <label for="login_user">Usuário</label>
                <input type="text" id="login_user" name="usuario" class="campo" required placeholder="Digite seu usuário">
            </div>

            <div>
                <label for="senha_user">Senha</label>
                <input type="password" id="senha_user" name="senha" class="campo" required placeholder="Digite sua senha">
            </div>

            <button type="submit" class="botao">Entrar</button>
               
        </form>
    </div>

</body>
</html>