body{
    background-color: rgb(191, 175, 136);
    padding-left: 35%;
}
.base{
    background-color: rgb(139, 126, 92);
    margin-top: 85px;
    width: 400px;
    height: 550px;
    padding-left: 50px;
    border-radius: 13px;

}
.pagi{
    margin-left:-52%;
    border-radius: 90px;
    height: 40px;
    width: 40px;
    display: flex;          
    justify-content: center; 
    align-items: center;    
}
.home{
    border-radius: 40px;
    height: auto;
    width: 190%;

}
.grp1{
    margin-left: 20%;
    
}
.campo{
    margin-top: 4%;
    height: 25px;
    width: 70%;
    border-radius: 5px;
    margin-left: 8% ;
}
.botao{
    margin-top: 15px;
    margin-left: 35%;
    height: 50px;
    width: 75px;
    border-radius: 8px;
    background-color: rgb(0, 129, 250);
    color: white;
}
h2{
    margin-left: 25%;
    margin-bottom: -1%;
}
h1{
    margin-left: 11%;
    padding-top: 4%;
}
.link{
    margin-left: -10%;
    margin-top: 90%;
}
.voltar,.link{
    border-radius: 90px;
    height: 40px;
    width: 40px;
    display: flex;          
    justify-content: center; 
    align-items: center;    
    background-color: blueviolet;
    border-style: none;
}

.voltar{
    margin-top: 400%;
}
.imgV{
    border-radius: 40px;
    height: auto;
    width: 130%;

}