body{
    background-color: rgb(191, 175, 136);
    padding-left: 35%;
    padding-top: 85px;
}
.base{
    background-color: rgb(139, 126, 92);
    width: 500px;
    height: 440px;
    padding-left: 50px;
    border-radius: 13px;

}
.botao{
    margin-top: 10px;
    margin-left: 30%;
    height: 50px;
    width: 75px;
    border-radius: 8px;
    background-color: rgb(0, 129, 250);
    color: white;
}
.grp1{
    margin-left: 20%;
    
}