body{
    background-color: rgb(191, 175, 136);
    padding-left: 35%;
    padding-top: 85px;
}
.base{
    background-color: rgb(139, 126, 92);
    width: 400px;
    height: 360px;
    padding-left: 50px;
    border-radius: 13px;

}
.txt{
    padding-top: 35px;
    margin-left: 115px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.campo{
margin-left: 90px;
height: 20px;
border-radius: 5px;
}

.us{
    padding-left: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.se{
    padding-left: 60px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.botao{
    margin-left: 130px;
    height: 50px;
    width: 75px;
    border-radius: 8px;
    background-color: rgb(0, 129, 250);
    color: white;
}