body{
    background-color: rgb(191, 175, 136);
    padding-left: 36%;
    
}

.base{
    background-color: rgb(139, 126, 92);
    width: 400px;
    height: 420px;
    padding-left: 50px;
    margin-top: 10px;
    border-radius: 13px;

}

.botao{
    margin-left: 130px;
    height: 50px;
    width: 75px;
    border-radius: 8px;
    background-color: rgb(0, 129, 250);
    color: white;
}

.logout{
    margin-left:-45%;
    border-radius: 90px;
    height: 40px;
    width: 40px;
    display: flex;          
    justify-content: center; 
    align-items: center;     
}
.home{
    border-radius: 40px;
    height: auto;
    width: 150%;

}



